/* themes */
/* When nothing is loaded, the default theme will be applied. */
/* see https://github.com/hiroppy/fusuma#themes */
/* @import '@fusuma/client/assets/style/themes/pop.css'; */
/* @import '@fusuma/client/assets/style/themes/babel.css'; */
/* @import '@fusuma/client/assets/style/themes/webpack.css'; */
/* @import '@fusuma/client/assets/style/themes/node.css'; */

/* global config */
/* When you want to change the default values, please uncomment. */
/* see https://github.com/hiroppy/fusuma/blob/master/packages/client/assets/style/variables.css */
/* :root { */
/* --base-font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif; */
/* --base-font-size: 2.4rem; */
/* --base-font-weight: 300; */
/* --base-align: center; */
/* --base-max-width: 1280px; */
/* --base-outer-margin: 24px; */
/* --base-image-width: 100%; */
/* --base-image-border-radius: 0; */
/* --h1-font-size: 5.6rem; */
/* --h2-font-size: 4rem; */
/* --h3-font-size: 3.6rem; */
/* --code-font-size: 1.8rem; */
/* --account-icon-size: 3rem; */
/* } */

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */

* {
  word-break: keep-all;
}

:root {
  --color-background: white !important;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 2rem;
}

.grid {
  max-width: 100% !important;
}

li:not(:first-child) {
  margin-top: 1rem;
}

pre {
  margin: 2rem 0 !important;
}

pre code {
  padding: 0;
}

code {
  line-height: 1.4 !important;
  font-size: 1.8rem !important;
}

figcaption,
span.comment {
  color: grey;
  font-size: 1.6rem;
}

figcaption {
  margin-top: 2rem;
}

.section-title {
}

.highlight {
  color: red !important;
}

.sns-box {
  margin: 20px;

  & > * {
    color: var(--gray-color);

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
